.app.dark {
  --bg-color: rgb(4, 4, 83);
  --inverted-bg-color: #e8e8ea;

  --primary-color: green;
  --secondary-color: green;
  --inverted-primary-color: #0032d7;
  --inverted-secondary-color: #0050fc;
}
