:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: rgb(4, 4, 83);

  --primary-color: #0032d7;
  --secondary-color: #0050fc;
  --inverted-primary-color: green;
  --inverted-secondary-color: green;
}
